*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* shaerd style */
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
  font-size: 45px;
  font-weight: 800px;
}

.color-orange{
  color: #fd6e0a;
}

.btn{
  background-color: #fd6e0a;
  border: none;
  padding: 18px 30px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  cursor:pointer;

}

.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h2{
  font-size: 35px;
  margin-bottom: 30px;
}

.section-heading p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}








/* main style  */
header{
  background-color: #fff8f3;
  background: url(images/developer.png) , url(images/header_bg.png) ,#fff8f3;
  background-position: top left , bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}

nav{
  width: 72%;
  max-width: 1140px; 
  /* border: 1px solid black; */
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu{
  display: flex;
  list-style-type: none;
  gap: 50px;
  align-items: center;
}

nav .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

#banner{
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content{
  max-width: 585px;
}


#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600px;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1{
  font-size: 85px;
  font-weight: 600px;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner-content p{
  font-size: 18px;
  color: #757575;
  line-height: 38px;
  margin-bottom: 30px;

}

#banner .banner-image img{
  max-width: 585px;
  vertical-align: middle;
}

#about{
  padding-top: 130px;
}

#about .about-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3 ;
  padding: 131px 156px;
}

#about .about-container .about-info{
  display: flex;
  justify-content: space-around;

}

#skills{
  padding: 130px;
}

.skills-containre{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.skills-box{
  display: flex;
  gap: 24px;
}

.skills-card{
  text-align: justify;
  padding: 30px;
  box-shadow: 0 6px 50px 0 #00000065;
  max-width: 247px;

}

.skills-card img{
  max-width: 44px;
  margin-bottom: 30px;
}

.skills-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}

.skills-card p{
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}